.idea/
*.sqlite3
.pyc/
django/
venv/
__pycache__/
build/
dist/
node_modules/
*.egg-info/
staticfiles/
media/
package/material/
*.txt.py
app/.DS_Store
.DS_Store


# Schedules, envs.
.env
celerybeat-schedule
celerybeat.pid
credentials.json

# Shell scripts.
app/dev_connect.sh
app/prod_connect.sh
dev_connect.sh
prod_connect.sh

# Settings files to ignore.
app/freelance/dev_settings.py
app/freelance/prod_settings.py

redis_data/
db_data/
db_backups/
docker/environments
infrastructure/cdk.out/
