POSTGRES_USER=postgres
POSTGRES_PASS=SecurityPassword
POSTGRES_DBNAME=freelance_pg
POSTGRES_PORT=5432
POSTGRES_HOST=freelance_db
SECRET_KEY=d80&6!a9%!)ratrcdk-om7lv2%qkm))tn&c72n))ah+ev^2!7

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

AWS_ACCESS_KEY_ID=AKIA5GOO5UN7VQVWHOHH
AWS_SECRET_ACCESS_KEY=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
AWS_STORAGE_BUCKET_NAME=fw-video
AWS_S3_REGION_NAME=eu-west-1

PG_TRUST_LOCALNET=true
REDIS_HOST=freelance_redis
DEFAULT_SMS_PHONE_NUMBER=example
TWILIO_ACCOUNT_SID=example
TWILIO_AUTH_TOKEN=example
ONESIGNAL_APP_ID=example
ONESIGNAL_APIKEY=example

STRIPE_API_KEY=example
FRONT_URL=front-dev-freelance.scenario-projects.com
MP4_PIPELINE_ID=1578058847218-mfn3es
MP4_TRANSCODER_PRESET_ID=1351620000001-000010

