-r requirements.in
flakehell===0.9.0
flake8==3.9.0
flake8-import-order
flake8-blind-except
flake8-django
flake8-bugbear
flake8-type-annotations
flake8-builtins
flake8-logging-format
flake8-variables-names
flake8-functions
flake8-comprehensions
django-stubs
flake8-print
safety
pytest
pytest-django
mock
django-debug-toolbar
freezegun